@page
@model HelpLocally.Web.Pages.Companies.ListModel
@{
    ViewData["Title"] = "List";
}

<h1 class="material-color-def">Companies List</h1>

<div class="tiles__table tiles__table--first table-responsive">
    <table class="table">
        <thead class="material-bg-surf">
            <tr>
                <th scope="col" class="material-color-surf">#</th>
                <th scope="col" class="material-color-surf">Id</th>
                <th scope="col" class="material-color-surf">Name</th>
                <th scope="col" class="material-color-surf">Owner ID</th>
                <th scope="col" class="material-color-surf">Nip</th>
                <th scope="col" class="material-color-surf">BankAccountNumber</th>
                <th scope="col" class="material-color-surf">Actions</th>
            </tr>
        </thead>
        <tbody class="material-bg-surf-2">
            @{ int i = 1; }
            @foreach (var user in Model.Companies)
            {
                <tr>
                    <th scope="col" class="material-color-surf">@i</th>
                    <th scope="col" class="material-color-surf">@user.Id</th>
                    <th scope="col" class="material-color-surf">@user.Name</th>
                    <th scope="col" class="material-color-surf">@user.OwnerId</th>
                    <th scope="col" class="material-color-surf">@user.Nip</th>
                    <th scope="col" class="material-color-surf">@user.BankAccountNumber</th>
                    <th scope="col" class="material-color-surf">
                        <a asp-route-Id="@user.Id" asp-page="/Companies/Edit" class="btn btn-primary">Edit</a>
                        <a asp-route-Id="@user.Id" asp-page="/Companies/Delete" class="btn btn-primary">Delete</a>
                    </th>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
